/*Background cover :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
.parallax {
  /* The image used */
  background-image: url(images/frank-sinatra-1281484_960_720.jpg);

  /* Set a specific height */
  min-height: 19rem;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.background2 {
  /* The image used */
  background-image: url(images/weight-lifting-1284616_960_720.jpg);

  /* Set a specific height */
  min-height: 19rem;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background3 {
  /* The image used */
  background-image: url(images/technology-785742_960_720.jpg);

  /* Set a specific height */
  min-height: 19rem;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background4 {
  /* The image used */
  background-image: url(images/stage-curtain-660078_960_720.jpg);

  /* Set a specific height */
  min-height: 19rem;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

.dropdown-item {
  font-size: 1.1em;
}

.form {
  text-indent: 0.5rem;
  font-size: 0.85em;
}

.Title {
  font-size: 2em;
  text-align: center;
}

/* TAILLE DES CONTAINERS ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
.bienvenue {
   height: 25rem;
}

.presentation {
   padding-bottom: 3rem;
}

.competence{
   height: 40rem;
}

.formation {
   height: 42rem;
}

/* .experiences {
   height:top 30rem;
} */

.contacts {
  height: 13rem;
}
/*  ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

.Text {
  max-width: 100%;
  height: auto;
  text-align: justify;
}

.moi {
  width: 14rem;
  /* height: 357px; */
}

.logo {
  font-size: 5rem;
}

.logo2 {
  font-size: 6rem;
}

.progressbar {
  margin-bottom: 2.5rem;
}

.padding {
  padding-bottom: 2rem;
}
#color1 {
  color: #e44d26;
}

#color2 {
  color: #246baa;
}

#color3 {
  color: #f7df1e;
}

#color4 {
  color: #cb002a;
}

#color5 {
  color: #c8396a;
}

#color6 {
  color: #ff7900;
}

/* MENU::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

#presentation:target {
  padding-bottom: 5rem;
}
