.dropdown-item{
  text-shadow: 10px 8px 20px black;
  font-size: 1.1em;
}

.form{
  text-indent: 20px;
  font-size: 0.85em;
}

.Title{
  font-size: 2em;
  text-align: center;
}

.Text{
  text-align: left;
}

.moi{
  width: 123px;
  height: 357px;
}

#profil{
  height: 100vh;
}
